

@keyframes jellyfloat{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes jellygrow {
    0% {
        transform: scale(1.0,1.0) rotate(0turn);
    }
    100% {
        transform: scale(4.0,4.0) rotate(1turn);
    }
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {position: relative;
max-width: 400px;}

.jelly{animation: jellyfloat 3s infinite;
animation-timing-function: ease-in-out;}


.jelly:hover {
    animation: jellygrow 1s linear infinite;
}

.two {
    bottom: 300px;
    left: 400px;
}


.three {
    left: 800px;
    bottom: 700px;
}

.four{
    left: 900px;
    bottom: 1600px;}



.five{left: 1200px;
bottom: 2000px;}

.six{left: 100px;
bottom: 2700px;}





 