
body {
  background-color:  #FF7272;
  font-family:  monospace;
  padding: 50px;
   cursor: url("flower.png"), url("flower.png"), default;
}

  

@media (max-width: 800px) {
  body {
    background-color: black;
    color:  white;
  }
}


/* The body's font-size is smaller by default */
body {
  font-size: 16px;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 40px;
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
  }
}

h1,h2{
  font-size: 80px;
  font-weight: normal;
}

@media (max-width600px){h1,h2{font-size: 50px}}

.title{text-align: center;}

.container{max-width: 700px;
margin: auto;}

img{max-width: 100%;}

