.grid-container {
  
  display: flex;
  padding:10px;
  background-color: black;
  min-height: 300px;
  font-family: 'PT Mono', monospace;
  color:  #042135;
  font-size:  36px;
  text-align:  center;


}

/*
.item1, .item2, .item4, .item3{

  background-color: beige;
  width: 30vw;
  height: 50vw;

}


.item1 img{
  width: 30vw;
  height: 50vw;
  object-fit: fill;
}


.item2 img{
  width: 30vw;
  height: 50vw;
  object-fit: fill;}

  .item3 img{
  width: 35vw;
  height: 50vw;
  object-fit: fill;}

*/
canvas {
  width: 100vw;
  height: 100vh;
  background-image: url("blobs.png");
  object-fit: contain;
}