
body {
  background-color: pink;
  font-family: arial;
  color: red;
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  text-align: center;
animation-name: spintype;
} 
@keyframes spintype{
  0% {transform: rotate(0.5turn);
  }
  100% {transform: rotate(0.5turn);}

}